<!doctype html>
<html ng-app="debttracker">
<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>DebtTracker</title>
  <link rel="icon" type="image/png" href="favicon.png">
  <link href="stylesheets/style.css" rel="stylesheet">
</head>
<body>
  <div ng-controller="NavbarCtrl" class="navbar navbar-default navbar-static-top" role="navigation" bs-navbar>
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <span class="glyphicon glyphicon-credit-card"></span>
        Debt<strong>Tracker</strong></a>
    </div>
    <ul class="nav navbar-nav">
      <li ng-repeat="page in pages" ng-class="{ active: isActive(page.path) }" ng-if="page.restricted ? isLoggedIn : true"><a href="{{ page.path }}" title="{{ page.name }}">{{ page.name }}</a></li>
    </ul>
    <ul class="nav navbar-nav pull-right" ng-if="!isLoggedIn">
      <li ng-class="{ active: isActive('/login') }"><a href="/login" title="Login to DebtTracker">Login</a></li>
      <li ng-class="{ active: isActive('/signup') }"><a href="/signup" title="Sign up to DebtTracker">Sign up</a></li>
    </ul>
    <ul class="nav navbar-nav pull-right" ng-if="isLoggedIn">
      <li ng-class="{ active: isActive('/account') }">
        <a href="/account" title="Account settings">
          <span class="glyphicon glyphicon-cog"></span>
          {{ currentUser.displayName || currentUser.local.email }}
        </a>
      </li>
      <li><a href="javascript:void(0)" ng-click="logout()">Logout</a></li>
    </ul>
  </div>
  <div ng-view></div>

  <% if ('development' === environment) { %>
    <script src="vendor/angular.js"></script>
    <script src="vendor/angular-strap.js"></script>
    <script src="vendor/angular-strap.tpl.js"></script>
    <script src="vendor/angular-messages.js"></script>
    <script src="vendor/angular-resource.js"></script>
    <script src="vendor/angular-route.js"></script>
    <script src="vendor/angular-cookies.js"></script>
    <!--<script src="vendor/moment.min.js"></script>-->
    <script src="app.js"></script>
    <!--<script src="services/show.js"></script>
    <script src="services/subscription.js"></script>-->
    <script src="services/session.js"></script>
    <!--<script src="filters/fromNow.js"></script>
    <script src="directives/repeatPassword.js"></script>-->
    <script src="controllers/navbar.js"></script>
    <script src="controllers/home.js"></script>
    <script src="controllers/login.js"></script>
    <script src="controllers/signup.js"></script>
    <script src="controllers/account.js"></script>
    <script src="controllers/owe.js"></script>
    <script src="controllers/owed.js"></script>
  <% } else { %>
    <script src="app.min.js"></script>
    <script src="templates.js"></script>
  <% } %>
</body>
</html>