<div class="jumbotron">
  <div class="container">
    <p>Hi {{ name }}, below you can find a list of who you owe, what you owe them, and why you owe them.</p>
    <p>Click on a creditors name to pay them instantly and wipe your debts!</p>
  </div>
</div>

<div class="container">

  <p class="clearfix"><button class="btn btn-primary pull-right">Make a payment</button></p>

  <table class="panel table table-bordered table-responsive">
    <thead>
      <th>Date</th>
      <th><dfn title="The person you owe">Creditor</dfn></th>
      <th><dfn title="Why you owe them">Reason</dfn></th>
      <th>Amount</th>
    </thead>
    <tbody>
      <tr>
        <td>29th August 2014</td>
        <td>John Smith</td>
        <td>A pint or two down the Wheatsheaf</td>
        <td>£10.21</td>
      </tr>
    </tbody>
  </table>
</div>